@import "mc-tinting";

$bg: #282c34;
$bg-area: #282c34;
$co-num: #636e7a;
$bk: rgba(0, 0, 0, 0.05);

$co-head: #636e7a;
$bg-head: #21252b;
$bk-body: #3b4048;
$co-foot: #636e7a;
$bg-foot: #21252b;

$h: #98c379; // HTML
$h-doc: false; // 页头
$h-com: #7f848e; // 注释
$h-tag: #e06c75; // 标签
$h-bra: #abb2bf; // 尖括号
$h-str: #98c379; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #d19a66; // 属性名
$h-val: #98c379; // 属性值
$h-equ: #abb2bf; // 等号
$h-sym: #98c379; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #d4d4d4;
$c-com: #0d740f; // 注释
$c-tag: #1a1a1a; // 标签
$c-sel: #1a1a1a; // 选择器
$c-key: #c60813; // 属性名
$c-val: #303942; // 属性值
$c-sym: #637588; // 符号
$c-err: #ff0000; // 错误

$j: #abb2bf;
$j-com: #7f848e; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #e5c07b; // JS-函数
$j-str: #99c27c; // JS-字符
$j-tpl: #032f62; // JS-模板
$j-num: #d09a6a; // JS-数字
$j-var: #e06c75; // JS-变量
$j-obj: #e06c75; // JS-对象
$j-key: #e06c75; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #c57bdb; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #e06c75; // JS-正则
$j-met: #c678dd; // JS-元字符
$j-bra: #d19a66; // JS-括号
$j-esc: #56b6c2; // JS-转义符
$j-spe: #abb2bf; // JS-功能
$j-ope: #d19a66; // JS-运算符
$j-equ: #5bb6c1; // JS-等于号
$j-coo: #5bb6c1; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #98c379; // JS-符号
$r-str: #56b6c2; // JS-正则字符

pre[theme="dark"] {
  @include tinting;
  color: $j;
}
