@import "mc-tinting";

$bg: #2b2b2b;
$bg-area: #2b2b2b;
$co-num: #606366;
$bk: rgba(200, 200, 200, 0.05);

$co-head: #c9c9c9;
$bg-head: #3c3f41;
$bk-body: #404040;
$co-foot: #c9c9c9;
$bg-foot: #3c3f41;

$h: #a9b7c6; // HTML
$h-doc: #c0c0c0; // 页头
$h-com: #999; // 注释
$h-tag: #e8bf6a; // 标签
$h-bra: #ddb766; // 尖括号
$h-str: #a5c261; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #bababa; // 属性名
$h-val: #98c379; // 属性值
$h-equ: #a5c261; // 等号
$h-sym: #ff6dca; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #d4d4d4;
$c-com: #999; // 注释
$c-tag: #e8bf6a; // 标签
$c-sel: #e8bf6a; // 选择器
$c-key: #e8bf6a; // 属性名
$c-val: #6897bb; // 属性值
$c-sym: #a9b7c6; // 符号
$c-err: #ff0000; // 错误

$j: #a9b7c6;
$j-com: #808080; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #ffc66d; // JS-函数
$j-str: #6a8759; // JS-字符
$j-tpl: #6a8759; // JS-模板
$j-num: #6897bb; // JS-数字
$j-var: #a9b7c6; // JS-变量
$j-obj: #a9b7c6; // JS-对象
$j-key: #9876aa; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #cc7832; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #9876aa; // JS-正则
$j-met: #e8bf6a; // JS-元字符
$j-bra: #e8bf6a; // JS-括号
$j-esc: #b16b1d; // JS-转义符
$j-spe: #cc7832; // JS-功能
$j-ope: #6897bb; // JS-运算符
$j-equ: #a9b7c6; // JS-等于号
$j-coo: #a9b7c6; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #6a8759; // JS-符号
$r-str: #cf696b; // JS-正则字符

pre[theme="darcula"] {
  @include tinting;
  color: $j;
}


