// 主体
$co-main: #ea3333;

// 辅助
$co-vice: #ff7700;

// 阅读
$co-read: #111111;

// 备注
$co-note: #999999;

// 消极
$co-warn: #c52c05;

// 文件
$co-file: #dc1e4d;

// 链接
$co-link: #552089;

// 远景
$co-back: #f5f5f5;

// 线条
$co-line: #dfdfdf;
