@import 'mc-tinting';

$bg: #1e1e1e;
$bg-area: #1e1e1e;
$co-num: #858585;
$bk: rgba(200, 200, 200, 0.05);

$co-head: #ffffff;
$bg-head: #3c3c3c;
$bk-body: #404040;
$co-foot: #ffffff;
$bg-foot: #3c3c3c;

$h: #d4d4d4; // HTML
$h-doc: false; // 页头
$h-com: #689556; // 注释
$h-tag: #569cd6; // 标签
$h-bra: #808080; // 尖括号
$h-str: #ce9178; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #9cdcf7; // 属性名
$h-val: #98c379; // 属性值
$h-equ: #d4d4d4; // 等号
$h-sym: #ff6dca; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #d4d4d4;
$c-com: #689556; // 注释
$c-tag: #d7ba7d; // 标签
$c-sel: #d7ba7d; // 选择器
$c-key: #9cdcfe; // 属性名
$c-val: #ce9178; // 属性值
$c-sym: #d4d4d4; // 符号
$c-err: #ff0000; // 错误

$j: #d4d4d4;
$j-com: #6b9858; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #dcdbac; // JS-函数
$j-str: #cd917a; // JS-字符
$j-tpl: #cd917a; // JS-模板
$j-num: #b6cda9; // JS-数字
$j-var: #9eddfc; // JS-变量
$j-obj: #9eddfc; // JS-对象
$j-key: #9eddfc; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #599dd4; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #9eddfc; // JS-正则
$j-met: #e8bf6a; // JS-元字符
$j-bra: #e8bf6a; // JS-括号
$j-esc: #d6b980; // JS-转义符
$j-spe: #dcdbac; // JS-功能
$j-ope: #6897bb; // JS-运算符
$j-equ: #a9b7c6; // JS-等于号
$j-coo: #d4d4d4; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #cf696b; // JS-符号
$r-str: #cf696b; // JS-正则字符

pre[theme='vscode'] {
  @include tinting;
  color: $j;
}
