@import 'mc-tinting';

$bg: #ffffff;
$bg-area: #282c34;
$co-num: #999;
$bk: rgba(0, 0, 0, 0.03);

$co-head: #636e7a;
$bg-head: #f8f8f8;
$bk-body: #eee;
$co-foot: #636e7a;
$bg-foot: #f8f8f8;

$h: #1a1a1a; // HTML
$h-doc: #c0c0c0; // 页头
$h-com: #998; // 注释
$h-tag: #000080; // 标签
$h-bra: #000080; // 尖括号
$h-str: #d14; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #008080; // 属性名
$h-val: #d14; // 属性值
$h-equ: #000080; // 等号
$h-sym: #ff6dca; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #1a1a1a;
$c-com: #999; // 注释
$c-tag: #1a1a1a; // 标签
$c-sel: #1a1a1a; // 选择器
$c-key: #c60813; // 属性名
$c-val: #303942; // 属性值
$c-sym: #637588; // 符号
$c-err: #ff0000; // 错误

$j: #1a1a1a;
$j-com: #999; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #43269c; // JS-函数
$j-str: #0736a2; // JS-字符
$j-tpl: #0736a2; // JS-模板
$j-num: #0b6d6c; // JS-数字
$j-var: #1a1a1a; // JS-变量
$j-obj: #1a1a1a; // JS-对象
$j-key: #6a2508; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #be1f29; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #6a2508; // JS-正则
$j-met: #ff05a4; // JS-元字符
$j-bra: #ff05a4; // JS-括号
$j-esc: #b16b1d; // JS-转义符
$j-spe: #b16b1d; // JS-功能
$j-ope: #9170fb; // JS-运算符
$j-equ: #d73a49; // JS-等于号
$j-coo: #d73a49; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #0736a2; // JS-符号
$r-str: #cf696b; // JS-正则字符

pre[theme='default'] {
  @include tinting;
  color: $j;
}
