@import 'mc-tinting';
$bg: #fcfcfc;
$bg-area: #fff;
$co-num: #aaa;
$bk: rgba(0, 0, 0, 0.05);

$co-head: #aaa;
$bg-head: #fafafa;
$bk-body: #eee;
$bg-body: #ffffff;
$co-foot: #aaa;
$bg-foot: #fafafa;

$h: #303942; // HTML
$h-doc: #c0c0c0; // 页头
$h-com: #6a737d; // 注释
$h-tag: #22863a; // 标签
$h-bra: #000080; // 尖括号
$h-str: #032f62; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #6f42c1; // 属性名
$h-val: #032f62; // 属性值
$h-equ: #a5c261; // 等号
$h-sym: #ff6dca; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #303942;
$c-com: #0d740f; // 注释
$c-tag: #22863a; // 标签
$c-sel: #6f42c1; // 选择器
$c-key: #005cc5; // 属性名
$c-val: #005cc5; // 属性值
$c-sym: #24292e; // 符号
$c-err: #ff0000; // 错误

$j: #303942;
$j-com: #005200; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #6f42c1; // JS-函数
$j-str: #032f62; // JS-字符
$j-tpl: #032f62; // JS-模板
$j-num: #005cc5; // JS-数字
$j-var: #1a1a1a; // JS-变量
$j-obj: #1a1a1a; // JS-对象
$j-key: #005cc5; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #d73a49; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #005cc5; // JS-正则
$j-met: #ff05a4; // JS-元字符
$j-bra: #ff05a4; // JS-括号
$j-esc: #b16b1d; // JS-转义符
$j-spe: #b16b1d; // JS-功能
$j-ope: #d73a49; // JS-运算符
$j-equ: #d73a49; // JS-等于号
$j-coo: #d73a49; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #0736a2; // JS-符号
$r-str: #cf696b; // JS-正则字符

pre[theme='github'] {
  @include tinting;
  color: $j;
}
