@mixin tinting {
  & {
    box-sizing: border-box;
    line-height: 1.5;

    &,
    *,
    *:before,
    *:after {
      box-sizing: border-box;
      font-family: 'consolas', 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
      // -webkit-font-smoothing: initial;
      // -moz-osx-font-smoothing: initial;
    }

    position: relative;
    display: block;
    overflow: hidden;
    margin: 0.5em 0;
    background: $bg;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.3em;

    .mc-tinting-area {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      overflow: hide;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      border-right: 0.2em solid transparent;
      border-left: 0.2em solid transparent;
    }

    .mc-tinting-number {
      display: none;
    }

    &[data-number='1'] {
      .mc-tinting-area {
        padding-left: 3.5em;
      }
      // 行号
      .mc-tinting-number {
        position: absolute;
        width: 3em;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
        text-align: right;
        user-select: none;
        color: $co-num;
        padding: 0.5em 0;

        & > * {
          display: block;
          white-space: nowrap;
          padding: 0 0.5em;
        }
      }

      .mc-tinting-body {
        border-left: 1px solid $bk-body;
      }

      &[data-digit='5'] {
        padding-left: 5em;

        .mc-tinting-number {
          position: absolute;
          width: 4.5em;
        }
      }

      &[data-digit='6'],
      &[data-digit='7'] {
        padding-left: 6em;

        .mc-tinting-number {
          position: absolute;
          width: 5.5em;
        }
      }

      &[data-digit='8'] {
        padding-left: 6.5em;

        .mc-tinting-number {
          position: absolute;
          width: 6em;
        }
      }
    }
    &[data-number='0'] {
      .mc-tinting-number {
        display: none;
      }
    }

    // 头部
    .mc-tinting-head {
      position: absolute;
      width: 100%;
      height: 2em;
      line-height: 2em;
      left: 0;
      top: 0;
      border-bottom: 1px solid $bk;
      background: $bg-head;
    }

    // 底部
    .mc-tinting-foot {
      position: absolute;
      width: 100%;
      height: 1em;
      line-height: 1em;
      left: 0;
      bottom: 0;
      border-top: 1px solid $bk;
      background: $bg-foot;
    }

    .mc-tinting-body {
      display: block;
      padding: 0.5em;
      overflow: auto;
    }

    &[type] {
      &:before {
        content: attr(type);
        position: absolute;
        display: inline-block;
        text-align: right;
        line-height: 1.5em;
        right: 0.25em;
        top: 0.25em;
        color: $co-num;
        z-index: 2;
        font-size: 0.8em;
        opacity: 0.8;
      }
    }

    &[file] {
      padding: 2em 0 1em;

      &:before {
        content: attr(file);
        position: absolute;
        display: inline-block;
        width: 100%;
        text-align: center;
        line-height: 2em;
        left: 0;
        top: 0;
        color: $co-head;
        z-index: 2;
        font-size: 1.1em;
      }
    }

    //&[lang="javascript"] {
    //  &:before {
    //    content: 'JS';
    //  }
    //}
    //
    //&[lang="html"] {
    //  &:before {
    //    content: attr(file);
    //  }
    //}
    //
    //&[lang="css"] {
    //  &:before {
    //    content: 'CSS';
    //  }
    //}
    //
    //&[lang="npm"] {
    //  &:before {
    //    content: 'NPM';
    //  }
    //}
    //
    //&[lang="git"] {
    //  &:before {
    //    content: 'GIT';
    //  }
    //}
  }

  // 基础
  [data-lang='html'] {
    color: $h;
  }

  [data-lang='javascript'] {
    color: $j;
  }

  [data-lang='css'] {
    color: $c;
  }

  // HTML-页头
  @if ($h-doc) {
    .h-doc * {
      color: $h-doc !important;
    }
  }

  // HTML-注释
  .h-com {
    color: $h-com;
  }

  // HTML-标签
  .h-tag {
    color: $h-tag;
  }

  // HTML-括号
  .h-bra {
    color: $h-bra;
  }

  // HTML-字符
  .h-str {
    color: $h-str;
  }

  // HTML-数字
  .h-num {
    color: $h-num;
  }

  // HTML-变量
  .h-var {
    color: $h-var;
  }

  // HTML-对象
  .h-obj {
    color: $h-obj;
  }

  // HTML-属性
  .h-key {
    color: $h-key;
  }

  // HTML-等号
  .h-equ {
    color: $h-equ;
  }

  // HTML-符号
  .h-sym {
    color: $h-sym;
  }

  // HTML-正则
  .h-reg {
    color: $h-reg;
  }

  // HTML-错误
  .h-err {
    color: $h-err;
  }

  // CSS-注释
  .c-com {
    color: $c-com;
  }

  // CSS-标签
  .c-tag {
    color: $c-tag;
  }

  // CSS 选择器
  .c-sel {
    color: $c-sel;
  }

  // CSS-属性
  .c-key {
    color: $c-key;
  }

  // CSS-值
  .c-val {
    color: $c-val;
  }

  // CSS-符号
  .c-sym {
    color: $c-sym;
  }

  // CSS-错误
  .c-err {
    color: $c-err;
  }

  // JS-注释
  .j-com {
    color: $j-com;
    font-style: italic;
  }

  // JS-标签
  .j-tag {
    color: $j-tag;
  }

  // JS-函数
  .j-fun {
    color: $j-fun;
  }

  // JS-字符
  .j-str {
    color: $j-str;
  }

  // JS-模板
  .j-tpl {
    color: $j-tpl;
  }

  // JS-数字
  .j-num {
    color: $j-num;
  }

  // JS-变量
  .j-var {
    color: $j-var;
  }

  // JS-对象
  .j-obj {
    color: $j-obj;
  }

  // JS-属性
  .j-key {
    color: $j-key;
  }

  // JS-值
  .j-val {
    color: $j-val;
  }

  // JS-系统保留词
  .j-ret {
    color: $j-ret;
  }

  // JS-保留
  .j-sym {
    color: $j-sym;
  }

  // JS-符号
  .j-reg {
    color: $j-reg;
  }

  .j-reg-area {
    .j-str {
      color: $r-str;
    }
  }

  // JS-正则
  .j-sub {
    color: $j-sub;
  }

  // JS-元字符
  .j-met {
    color: $j-met;
  }

  // JS-括号
  .j-bra {
    color: $j-bra;
  }

  // JS-转义符
  .j-esc {
    color: $j-esc;
  }

  // JS-功能
  .j-spe {
    color: $j-spe;
  }

  // JS-运算符
  .j-ope {
    color: $j-ope;
  }

  // 等于号
  .j-equ {
    color: $j-equ;
  }

  // 比较符
  .j-coo {
    color: $j-coo;
  }

  // JS-错误
  .j-err {
    color: $j-err;
  }
}
