@import 'mc-tinting';

$name: 'chrome';

$bg: #ffffff;
$bg-area: #fff;
$co-num: #aaa;
$bk: rgba(0, 0, 0, 0.05);

$co-head: #777;
$bg-head: #fafafa;
$bk-body: #eee;
$bg-body: #ffffff;
$co-foot: #777;
$bg-foot: #fafafa;

$h: #303942; // HTML
$h-doc: #c0c0c0; // 页头
$h-com: #0d740f; // 注释
$h-tag: #871b7e; // 标签
$h-bra: #a894a6; // 尖括号
$h-str: #1c22a3; // 字符串
$h-num: #0b6d6c; // 数字
$h-var: #1a1a1a; // 变量
$h-obj: #ff9999; // 对象
$h-key: #974510; // 属性名
$h-val: #974510; // 属性值
$h-equ: #a894a6; // 等号
$h-sym: #ff6dca; // 符号
$h-reg: #6dff6d; // 正则
$h-err: #ff0000; // 错误

$c: #d4d4d4;
$c-com: #0d740f; // 注释
$c-tag: #1a1a1a; // 标签
$c-sel: #1a1a1a; // 选择器
$c-key: #c60813; // 属性名
$c-val: #303942; // 属性值
$c-sym: #637588; // 符号
$c-err: #ff0000; // 错误

$j: #222222;
$j-com: #0d740f; // JS-注释
$j-tag: #590d51; // JS-标签
$j-fun: #1c23a5; // JS-函数
$j-str: #c31c20; // JS-字符
$j-tpl: #032f62; // JS-模板
$j-num: #1f1bce; // JS-数字
$j-var: #1c23a5; // JS-变量
$j-obj: #1c23a5; // JS-对象
$j-key: #222222; // JS-属性
$j-val: #07ddff; // JS-值
$j-ret: #a91a8f; // JS-系统保留词
$j-sym: #ff6dca; // JS-保留
$j-sub: #303942; // JS-正则
$j-met: #c40b13; // JS-元字符
$j-bra: #c40b13; // JS-括号
$j-esc: #c40b13; // JS-转义符
$j-spe: #c40b13; // JS-功能
$j-ope: #c40b13; // JS-运算符
$j-equ: #c40b13; // JS-等于号
$j-coo: #984510; // JS-比较符
$j-err: #ff0000; // JS-错误

$j-reg: #c40b13; // JS-符号
$r-str: #c40b13; // JS-正则字符

pre[theme='chrome'] {
  @include tinting;
  color: $j;
}
